*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# Android generated
bin
gen
libs
obj
lint.xml

# IntelliJ IDEA
.idea
*.ipr
*.iws
classes
gen-external-apklibs

# Gradle
build
buildout
out
